html,
body,
ul,
li,
a,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  width: 95%;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  z-index: 9999;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 20%);
}

.logomarca {
  object-fit: cover;
  object-position: 0 80%;
  height: 49px;
  border-radius: 20px;
}

.menu ul li a {
  font-size: 18px;
}

.menu ul {
  display: flex;
  gap: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
}

.menu ul li:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.section-generica {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 60px;
}

.titulo {
  text-align: center;
  margin-top: 38px;
  font-size: 36px;
}

.subtitulo {
  color: #c4c4c4;
  font-weight: 400;
  text-align: center;
  font-size: 35px;
}

#home .container h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5rem;
}

#home .container h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 15px;
  line-height: 1.2;
}

#home .container img {
  height: 296px;
  margin: 0 -132px;
}

#home .container button {
  cursor: pointer;
  margin-top: 13px;
  text-transform: lowercase;
  background-color: #209cee;
  border-color: #209cee;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

#home .container button a {
  color: #fff;
  font-weight: 600;
}

#home .container button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#sobre .c2 {
  margin: 0 113px;
}

#sobre .container h2 {
  text-transform: uppercase;
  font-size: 20px;
}

#sobre .container h4 {
  color: #747474;
  font-size: 17px;
}

#contato {
  display: flex;
  justify-content: center;
  margin-top: 17px;
}

#contato .container-form {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 52%);
  width: 700px;
}

#contato .container-form p {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#contato .container-form p :is(input, textarea) {
  border-radius: 0;
  border-color: #ccc;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
  margin-top: 7px;
}

#contato .container-form .btn-enviar-form {
  text-align: center;
}

#contato .container-form .btn-enviar-form button {
  background: 0 0 #ffffff;
  border: 1px solid #2f323a;
  border-radius: 3px;
  color: #2f323a;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: inherit;
  margin: 30px 0;
  padding: 10px 50px;
  text-transform: uppercase;
}

footer {
  padding: 30px;
  text-align: center;
  font-size: 13px;
  font-style: italic;
}